# npm artifacts
node_modules/
build/

# oclapi
oclapi/

# test stuff
cypress
coverage
cypress.json

# misc
.DS_Store

# npm debug logs
npm-debug.log*

# IDE stuff
.vscode/
.idea/
*.iml
*.code-workspace

# CI infrastructure
.github/
.gitignore
.coveralls.yml
.travis.yml

# Docker-related stuff
docker-compose.yml
Dockerfile

# scripts
start_local_instance.sh
stop_local_instance.sh
