* {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

nav {
  z-index: 2;
}

.fixed-top {
  margin-bottom: 5rem;
}

.side-nav {
  height: 100%;
  min-width: 6%;
  position: fixed;
  padding: 0.5rem;
  z-index: 1;
  color: gray;
  background: white;
}

.side-nav .nav {
  background: transparent !important;
}

.side-nav a {
  color: #676767;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
}

.side-nav a:hover {
  background: rgba(0, 0, 0, 0.29);
  border-radius: 0.4rem;
  color: white;
}

.search-bar {
  border: none;
  background: inherit;
  line-height: 2rem;
  height: 2rem;
  outline: none;
  box-shadow: none;
}

.search-bar-wrapper:hover {
  box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.471);
}

.search-bar-wrapper {
  transition: all 400ms ease-in-out;
  background: rgb(233, 233, 233);
  border-radius: 10rem;
  padding: 0.5rem;
  z-index: 0;
}

.search-bar-wrapper i {
  color: #757575;
}

.btn {
  box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.471);
  outline: none;
  transition: all 400ms ease-in-out;
}

.btn:hover {
  box-shadow: none;
}

.sort-search {
  align-self: center;
}

.mini-sort-btn a,
.mini-source-btn a {
  color: #757575;
}

.item-list {
  height: 7rem;
  overflow: scroll;
  overflow: hidden;
  align-items: center;
  box-shadow: none;
  border-radius: 0.2rem;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.07);
  transition: all 400ms ease-in-out;
}

.item-list:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.07);
}

.card-header {
  height: 3rem;
}

.source-header {
  padding-top: 2rem;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.source-menu {
  font-size: 1rem;
  width: 15rem;
}

.source-name {
  display: flex;
  padding: 1rem 1rem 0;
  margin: 0;
  color: white;
  background: #4f6196;
  border-radius: 0.2rem 0.2rem 0 0;
}

.source-name p {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.source-name p,
.source-name i {
  color: #949494;
}

.source-name a {
  color: inherit;
}

.source-card-body {
  position: relative;
}

.source-card-footer {
  position: absolute;
  background: #80808012;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 1.7rem;
  line-height: 1.7rem;
}

.float-created-at {
  position: absolute;
  background: rgb(14, 127, 232);
  color: white;
  top: 2.2rem;
  right: -0.2rem;
  font-size: 0.8rem;
  padding: 0 0.4rem;
  border-radius: 0.2rem 0 0 0.2rem;
  z-index: 10;
  box-shadow: -2px 2px 4px 0px #0000004d;
}

.float-created-at a {
  color: white;
}

.name-url {
  color: #757575;
}

.name-url:hover {
  color: #414141;
}

.owner-type {
  align-self: flex-end;
}

.dashboard-wrapper {
  margin-top: 4rem;

}
.title-wrapper {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.45rem;
}

.key-icons {
  font-size: 0.7rem;
  text-align: right;
}

.key-icons a {
  color: #414141;
  padding: 0 1rem;
}

.key-icons i {
  margin-right: 0.3rem;
}

.card-container {
  position: relative;
  font-family: 'Roboto', sans-serif;
  min-height: 7rem;
  /* min-width: 20rem; */
  border-radius: 0.2rem 0.2rem 0 0;
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
  transition: all 400ms ease-in-out;
}

.card-container:hover {
  box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.471);
}

.card-divider {
  height: 0.06rem;
  border-radius: 20rem;
  background: #757575;
  width: 98%;
  margin: 0.2rem auto;
}

.avatar {
  display: flex;
  justify-content: flex-start;
  padding: 0rem 1rem;
  font-size: 0.6rem;
  align-items: center;
}

.list-header {
  padding-top: 0.5rem;
}

.item-type {
  font-size: 0.6rem;
  font-style: italic;
}

.description {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-align: left;
}

.description p {
  padding: 0;
  margin: 0;
  text-align: left !important;
  font-weight: 300;
  font-size: 0.9rem;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.description h5 {
  padding: 0;
  margin: 0;
}

.description .source-type {
  padding-top: 0.5rem;
  font-size: 0.6rem;
  color: rgb(80, 80, 80);
}

.description a {
  color: rgb(80, 80, 80);
}

.description a:hover {
  color: rgb(100, 100, 100);
  text-decoration: underline;
}

.more-info-icons {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
}

.more-info-icons p {
  color: gray;
  font-size: 0.6rem;
}

.bolden {
  font-weight: bolder;
}

.source-data {
  font-size: 1rem;
}

.source-data a {
  color: inherit;
}

.source-data a:hover {
  text-decoration: underline;
}

#date-updated {
  display: inline-block;
  font-size: 0.7rem;
  background: #ebebeb;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.no-shadow {
  box-shadow: none;
  text-shadow: none;
}

.concept-table {
  text-align: left !important;
}

.header {
  background-color: #4f6196;
}

.display-name{
  font-size: 20px;
}

#dictionary {
  min-height: 8rem;
}

#dictionaryHeader{
  background: #2b6d27;
}

#dictionary-owner {
  background: #225a21;
}

#viewDetails{
  margin-bottom: 6%;
  font-size: 11px;
  border: none;
}
.head{
  color: #ffff;
}

.table1{
  width: 10rem;
}
.table2{
  width: 30rem;
}
.load{
  text-align: center
}
