@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.6em 1.6em 1.6em !important;
    margin-bottom: 10px;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; 
    padding:0 20px; 
    border-bottom:none;
}
.prefered-concepts{
    border-style: groove;
    display: block;
    height: auto;
    margin-top: 10px;
}
.add-bulk-concepts{
    text-align: left!important;
    float: center;
    padding: 50px; 
}
#search{
    border: none;
    background: inherit;
    line-height: 4rem;
    height: 2rem;
    outline: none;
    box-shadow: none;
}
#other-search{
    display: inline-block;
}
#exampleRadios3{
    float: left;
}
.add-all-btn{
    float: right;
    color:white;
}
.search-bar:hover {
    box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.471);
  }
.search-bar{
  background: rgb(233, 233, 233);
  border-radius: 10rem;
  padding: 0.6rem;
  float:right;
  width:350px;
}
.search-bar i {
    color: #757575;
  }
.no-padding-top {
    padding-top: 0px !important;
}
.card-link+.card-link {
    margin-left: 0rem;
}
