#login-form {
  .other-options {
    text-align: center;
  }

  .fields {
    padding: 2vh 1vw;
    display: inherit;
  }

  .status-message {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
