.form-container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  margin-top: 5rem;
  padding: 1rem;
  padding-bottom: .5rem;
  background: white;
  text-align: left;
  border-radius: .2rem;
  box-shadow: 0px 4px 20px #00000014;
}

.form-wrapper .form-control {
  height: 3rem;
  line-height: 3rem;
}

.form-wrapper .btn {
  box-shadow: none;
  height: 3rem;
}

.form-wrapper a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.form-wrapper .loader {
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  border-width: .1rem;
  vertical-align: middle;
}

.login-details{
  margin-top:10px;
  margin-left:280px;
  margin-bottom: 10px;
  width:60%;
}

.video{
  padding: 10px;
  width:100%;
  height:460px;
}

