.App{
  text-align: center;
  min-height: 85vh;
  background-color: $light;
}
.nav {
  background-color: $dark !important;
  position: inherit;
}
.navbar-brand {
  color: white !important;
}

.nav-item.nav-link:hover {
  background-color: $dark;
  padding-right: .5rem;
  padding-left: .5rem;
}
.nav-link {
  line-height: 2.2 !important;
  padding: 0rem 0rem;
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}
.navbar {
  line-height: 2 !important;
  background-color: $dark !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 992px) {
  .nav-item.nav-link:hover {
    color: $light !important;
    background: none;
  }
}

.smaller-loader {
  border: 3px solid #dfdede;
  border-top: 3px solid #3498db;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

.loader {
  border: 5px solid $light;
  border-top: 5px solid $primary;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.not-found {
  display: flex;
  height: 880px;
  background: url('../images/404.jpg') no-repeat;
  background-size: cover;
  padding: 9% 0 4% 0;
}
.not-found-container {
  bottom: 40%;
  margin: auto;
  position: relative;
}
.btn-not-found {
  background-color: $secondary;
  border-color: $light;
  margin-bottom: -310% !important;
}
.error-template {
  margin-top: 10px !important;
}

.card-link {
  cursor: pointer;
}
.ver-table{
  color: $primary;
  margin: auto;
}

.version-msg{
  text-align: center;
  color: $primary;
}

.fa-cloud-upload-alt{
  border-color: white;
}

#navbarDropdown {
  min-width: 100px !important;
}
.custom-max-width {
  max-width: 1366px;
  margin: 0 auto;
}

.custom-bg-dark {
  background-color: $dark !important;
}

.edit-button-link {
  color: $dark !important;
  background-color: $light;
  margin-right: 5px;
}

.table-remove-link {
  width: 1%;
}

.react-async {
  width: 40%;
}

.btn-outline-secondary {
  background-color: transparent;
}

.no-wrap {
  white-space: nowrap;
}

.ReactTable {
  width: 100%;
}
