@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.6em 1.6em 1.6em !important;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
  width: inherit;
  padding: 0 20px;
  border-bottom: none;
}

.preferred-concepts {
  border-style: groove;
  display: block;
  height: auto;
  margin-top: 10px;
}

.add-bulk-concepts {
  text-align: left !important;
  float: center;
  margin-top: -3%;
  padding-right: 5%;
  padding-left: 5%;
}

#search {
  border: none;
  background: inherit;
  line-height: normal;
  height: 2rem;
  outline: none;
  box-shadow: none;
}

#other-search {
  display: inline-block;
}

#exampleRadios3 {
  float: left;
}

.add-all-btn {
  float: right;
  color: white;
}

.search-bar:hover {
  box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.471);
}

.search-bar {
  background: rgb(233, 233, 233);
  border-radius: 10rem;
  padding: 0.6rem;
  float: right;
  width: 350px;
}

.search-bar i {
  color: #757575;
}

.no-padding-top {
  padding-top: 0px !important;
}

.card-link+.card-link {
  margin-left: 0rem;
}

.pagination-container {
  font-size: .8rem;
  padding: 1rem 1rem 0;
}

.pagination-container .add-all-concepts-btn {
  padding: .4rem;
  border-radius: .2rem;
  transition: all 400ms ease-in-out;
}

.pagination-container .add-all-concepts-btn:hover {
  background: rgb(221, 220, 220);
}

.pagination-container .btn {
  box-shadow: none;
}

.bg-gray {
  background: #506096;
  color: white;
}

.bg-gray:hover {
  background: black;
  color: white;
}

.bulk-concept-wrapper .search-container {
  padding-left: .8rem;
}

.bulk-concepts .sidenav-container {
  padding: .5rem 2rem;
  border-radius: .4rem;
}

.bulk-concept-label {
  cursor: pointer;
  font-size: 1rem;
  margin-top: -.23rem;
}

.bulk-concepts .sidenav-header {
  font-weight: 600;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bulk-concepts .paginate-controllers {
  margin: 0 1.2rem 0 2rem;
}

.bulk-concepts .paginate-controllers i {
  font-size: .8rem;
  transition: background-color 400ms ease-in-out;
}

.pop-up-wrapper {
  padding: 1rem;
  height: auto;
}

.header-divider {
  width: 2rem;
  height: .3rem;
  border-radius: 10rem;
  background: #5c6273;
}

.pop-up-description {
  background: #e8e9eb;
  color: #2c2e35;
  padding: .7rem;
  overflow-x: scroll;
}

.fas.fas-arrow-left {
  font-family: 'Roboto', sans-serif;
}

.span-text:hover {
  text-decoration: underline;
}

.backLinkText:link {
  text-decoration: none;
}

.linkSection {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.link {
  padding-bottom: 1rem;
}

.synonyms {
  margin: 0;
  margin-top: 1rem;
  font-size: .8rem;
}
