$input-placeholder-color: rgba(0,0,0,0.4);

$primary: #009384;
$secondary: #6c757d;
$light: #f5f5f5;
$dark: black;
$danger: #e16262;
$shadow: lighten($secondary, 45%);
$lighter: lighten($light, 20%);
$success: lighten($primary, 15%);
$input-focus-border-color: lighten($primary, 10%) !default;
