* {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

nav {
  z-index: 2;
}

.side-nav {
  height: 100%;
  min-width: 6%;
  position: fixed;
  padding: 0.5rem;
  z-index: 1;
  color: #181717;
  background: rgba(168, 166, 166, 0.171);
}

.side-nav .nav {
  background: transparent !important;
}

.side-nav a {
  color: #181717;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
}

.side-nav a:hover {
  background: rgba(0, 0, 0, 0.29);
  border-radius: 0.4rem;
}

.activeStyle {
  background-color: rgb(173, 170, 170);
  border-bottom-color: white;
  color: white;
  border-radius: 10px;
}

.search-bar {
  border: none;
  background: inherit;
  line-height: 2rem;
  height: 2rem;
  outline: none;
  box-shadow: none;
}

.search-bar-wrapper:hover {
  box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.471);
}

.search-bar-wrapper {
  transition: all 400ms ease-in-out;
  background: rgb(233, 233, 233);
  border-radius: 10rem;
  padding: 0.3rem;
  margin-right: 54%;
  width: 100%;
  margin-left: 2%;
  margin-left: -6%;

}

.search-bar-wrapper i {
  color: #757575;
}

.btn {
  box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.471);
  outline: none;
  transition: all 400ms ease-in-out;
}

.btn:hover {
  box-shadow: none;
}

.sort-search {
  align-self: center;
}

.mini-sort-btn a,
.mini-source-btn a {
  color: #757575;
}

.item-list {
  height: 7rem;
  overflow: scroll;
  overflow: hidden;
  align-items: center;
  box-shadow: none;
  border-radius: 0.2rem;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.07);
  transition: all 400ms ease-in-out;
}

.item-list:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.07);
}

.card-header {
  height: 3rem;
}

.source-header {
  padding-top: 2rem;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.source-menu {
  font-size: 1rem;
  width: 15rem;
}

.source-name {
  display: flex;
  padding: 1rem 1rem 0;
  margin: 0;
  color: white;
  background: #4f6196;
  border-radius: 0.2rem 0.2rem 0 0;
}

.source-name p {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.source-name p,
.source-name i {
  color: #949494;
}

.source-name a {
  color: inherit;
}

.source-card-body {
  position: relative;
}

.source-card-footer {
  position: absolute;
  background: #80808012;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 1.7rem;
  line-height: 1.7rem;
}

.float-created-at {
  position: absolute;
  background: rgb(14, 127, 232);
  color: white;
  top: 2.2rem;
  right: -0.2rem;
  font-size: 0.8rem;
  padding: 0 0.4rem;
  border-radius: 0.2rem 0 0 0.2rem;
  z-index: 10;
  box-shadow: -2px 2px 4px 0px #0000004d;
}

.float-created-at a {
  color: white;
}

.name-url {
  color: #757575;
}

.name-url:hover {
  color: #414141;
}

.owner-type {
  align-self: flex-end;
}

.dashboard-wrapper {
  margin-top: 0.5rem;
  padding-bottom: 30px; 

}
.title-wrapper {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.45rem;
}

.key-icons {
  font-size: 0.7rem;
  text-align: right;
}

.key-icons a {
  color: #414141;
  padding: 0 1rem;
}

.key-icons i {
  margin-right: 0.3rem;
}

.card-container {
  position: relative;
  font-family: 'Roboto', sans-serif;
  height: 10rem;
  /* min-width: 20rem; */
  border-radius: 0.2rem 0.2rem 0 0;
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
  transition: all 400ms ease-in-out;
}

.card-container:hover {
  box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.471);
}

.card-divider {
  height: 0.06rem;
  border-radius: 20rem;
  background: #757575;
  width: 98%;
  margin: 0.2rem auto;
}

.avatar {
  display: flex;
  justify-content: flex-start;
  padding: 0rem 1rem;
  font-size: 0.6rem;
  align-items: center;
}

.list-header {
  padding-top: 0.5rem;
}

.item-type {
  font-size: 0.6rem;
  font-style: italic;
}

.description {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-align: left;
}

.description p {
  padding: 0;
  margin: 0;
  text-align: left !important;
  font-weight: 300;
  font-size: 0.9rem;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.description h5 {
  padding: 0;
  margin: 0;
}

.description .source-type {
  padding-top: 0.5rem;
  font-size: 0.6rem;
  color: rgb(80, 80, 80);
}

.description a {
  color: rgb(80, 80, 80);
}

.description a:hover {
  color: rgb(100, 100, 100);
  text-decoration: underline;
}

.more-info-icons {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
}

.more-info-icons p {
  color: gray;
  font-size: 0.6rem;
}

.bolden {
  font-weight: bolder;
}

.source-data {
  font-size: 1rem;
}

.source-data a {
  color: inherit;
}

.source-data a:hover {
  text-decoration: underline;
}

#date-updated {
  display: inline-block;
  font-size: 0.7rem;
  background: #ebebeb;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.no-shadow {
  box-shadow: none;
  text-shadow: none;
}

.concept-table {
  text-align: left !important;
}

.header {
  background-color: #4f6196;
}

.display-name {
  font-size: 20px;
}

#dictionary {
  min-height: 8rem;
}

#dictionaryHeader {
  background: #2b6d27;
}

#dictionary-owner {
  background: #225a21;
}

#viewDetails {
  margin-bottom: 6%;
  font-size: 11px;
  border: none;
}
.head {
  color: #ffff;
}

.table1 {
  width: 10rem;
}
.table2 {
  width: 30rem;
}
.load {
  text-align: center;
}

#cardCapitalize {
  text-transform: capitalize;
}

.concept-modal {
  padding-top: 80px !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.add-btn {
  font-size: 1rem;
  color: #4f6196;
}

.add-btn:hover {
  border-bottom: thin solid #4f6196;
}

#dictionary-link {
  text-align: left !important;
  font-size: 0.9rem;
  color: #4f6196;
}

.modal-header {
  background-color: rgba(192, 189, 189, 0.733) !important;
}

.dashboard-alert {
  background: #e9e9e9;
  color: #000000 !important;
  text-align: center;
}

.search-filter {
  padding-right: 5%;
  float: right;
}
.add-dictionaries {
  border-color: green;
  background-color: whitesmoke;
  margin-top: 10px;
  float: right;
  margin-right: 37%;
  border-radius: 20px;
  
}
.add-dictionaries:hover {
  background-color: #2b6d27;
  color: white;
}
.dashboard-head{
  display: inline;
}
.dictionary-search{
  width: 70%;
  margin-left: 4%;
}

.viewdetailslink{
  color: #343434;
}
.viewdetailslink:hover{
  color: #dedcdc;
}

#generalSearch{
  width: 114%;
  padding-top: 0%;
  padding-bottom: 0.4%;
  border-radius: 10rem;
  border-color: #e9e9e942;
  background-color:#494a4a42;
  transition: all 400ms ease-in-out;
}

#generalSearch:hover, #generalSearch:focus {
  border-color: #e9e9e9;
  background-color: #e9e9e9;
}

#generalSearchForm{
  width: 62%;
  padding-left: 14%;
  margin-left: -16%;
}

#navbarDropdown{
  padding: 0rem 0rem;
  color: white;
}

.navBarItems{
  display: flex;
}


#navbarA{
  padding-left: 9%;
}
#navbarItemSource{
  margin-left: 5%;
  margin-right: 5%;
  padding: 0rem 0rem;
  color: white;
  border-left: solid 1px;
  border-right: solid 1px;
  border-color: #e9e9e942;
}
p{
  font-size: 1.5em;
}
.public-dictionaries{
  margin-top: 0.8rem;
  margin-right: -4%;
  float: left;
  margin-left: 103px;
}
.public-search{
  margin-top: 1px;
  align-content: center;
}
#Noresults {
  margin-top: 17rem!important;
  margin-right: 13%;
}
#Noresults h5{
  font-size: 2.25rem;
}

#generalSearch::placeholder{
  color: #f5f5f5e3;
}

#container{
  margin-left: -42px;
  margin-right: -42px;
}

@media (min-width: 576px){
.offset-sm-1 {
  margin-left: 0.333333%;
}
}
@media (min-width: 992px){
.col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 89.333333%;
}}

#userInfo{
  margin-left: -9%;
}

#load {
  width: 900px;
  padding-left: 55%;
}

.back{
  margin-right:3%;
  margin-top:1rem;
}

.backLink{
  text-align: left;
  padding-bottom: 2rem;
}

.fas{
  color:#3359db;
}

@media only screen and (max-width: 992px) { 
  fieldset{
    min-width: 320px;
    margin-bottom: .7rem;
  }
}
