.sidenav-concept-btn {
    margin-top: 30%;
 }
.dictionary-modal-fade {
    opacity: 10 !important;
    background-color: rgba(0, 0, 0, 0.5);
}
.dictionary-modal-fade form {
   margin: 0px 3%;
}
.dictionary-custom-modal {
    max-width: 750px;
    margin-top: 270px;
}
.modal-fade {
    padding-top: 10%;
    opacity: 10 !important;
    background-color: rgba(0, 0, 0, 0.5);
}
 .dictionaryDetails{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}
.paragraph{
    color: black;
    font-size: 20px;
}
#rightside-detail{
    border-left: solid 1px;
}
#headingDict{
    font-size: 35px;
    margin-top: -0.5%;
}
#headerDict{
    background-color: #ffffff;
    border-bottom: none;
    text-transform: capitalize;
}
#description{
    float: left;
}
#param{
    color: black;
    font-size: 20px;
    padding-top: 0px;
    text-align: left;
}
.genCon{
    font-size: 23px;
}
#descHd{
    margin-left: 45%;
    padding-top: 1%
}
#loader {
    padding-top: 20%;
}
#descriptionCard {
    width: 90%;
    margin-left: 4.55%;
}
#versionCard {
    margin-bottom: 5%;
}
#conceptsCard {
    margin-bottom: 2%;
    text-align: left;
}
#desc {
    text-align: left;
    font-weight: 400;
}
#editLink {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 65%;
    font-size: 1.5em;
}
#table-mappings{
    margin-bottom: 0;
    border-bottom: #dee2e6;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 20px;
    margin-bottom: 20px;
    color: #030303;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: left;
}

h3 {
    font-weight: 900;
    text-align: left;
}
p {
    text-align: left;
    font-weight: 400;
    font-size: 1.25em !important;
    margin-bottom: 0.5rem;
}
.points{
    padding-left: 10%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
a {
    text-decoration: none;
}
i {
    padding-right: 1%;
    size: 2em;
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px solid #000000 !important;
}
legend {
    padding: 0.2em 0.5em;
    color: rgb(0, 0, 0);
    text-align:left;
    position: relative;
    width: auto;
  }
  #inline-error{
      color: #cc0000;
  }

#addDictionary, .primaryButton, #saveReleaseVersion{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
