.custom-dictionary-concepts {
  text-align: left;
  margin-top: -3%;
  padding-right: 4%;
  padding-left: 4%;
  width: auto;
}

.bulk-concepts {
  text-align: left;
  margin-top: -3%;
  padding-right: 4%;
  padding-left: 5%;
}

.all-dictionaries {
  margin-right: -8%;
  margin-left: -8%;
}

body {
  background: rgba(230, 230, 230, 0.12);
}

.rounded-edge {
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: white;
  color: black;
}

.concept-header {
  margin-top: 5rem;
}

.concept-dropdown {
  padding-left: 2rem;
}

.concept-btn {
  margin: .5rem;
}

.concept-dropdown .btn {
  box-shadow: none;
}

.sidenav-container {
  background: white;
  padding: .5rem .7rem;
  box-shadow: 0 4px 15px 1px #00000012;
  font-size: 70%;
  margin-bottom: 2rem;
}

.sidenav-container .sidenav-header {
  padding: .5rem .7rem;
  padding-bottom: 0;
  font-weight: 400;
}

.sidenav-container .custom-control-label {
  margin-bottom: 0;
  padding-top: .3rem;
}

.search-container {
  padding-left: 2rem;
}

.search-container .concept-search-wrapper {
  background: rgb(240, 240, 240);
  padding: .2rem 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.search-container .concept-search-wrapper form {
  display: inline;
  padding: 0;
  margin: 0;
}

.search-container .search-pagination {
  position: relative;
  line-height: 2rem;
  font-size: 1rem;
  width: 100%;
  height: 2rem;
}

.paginate-count {
  position: absolute;
  bottom: 0rem;
  right: 2.5rem;
  font-size: 80%;
  padding-top: .4rem;
}

.paginate-controllers {
  margin: 0 0 0 2rem;
}

.paginate-controllers .left-arrow {
  margin: 0 1rem 0 0;
}

.paginate-controllers i {
  cursor: pointer;
  padding: .5rem .6rem;
  border-radius: 50%;
}

.paginate-controllers i:hover {
  background: rgb(240, 240, 240);
}

.disabled-pagination-button {
  color: lightgray;
}

.search-container .concept-search-wrapper .fa-search {
  font-size: .8rem;
  padding-right: .7rem;
  color: grey;
}

.search-container .search-icons {
  font-size: .8rem;
}

.concept-search {
  border: none;
  background: inherit;
  line-height: 2rem;
  height: 2rem;
  width: 90%;
  outline: none;
  box-shadow: none;
}

.custom-concept-list {
  padding: .3rem 1rem 1rem;
  border-radius: .4rem;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  -ms-border-radius: .4rem;
  -o-border-radius: .4rem;
}

.custom-concept-list .table {
  box-shadow: 0 4px 15px 1px #00000012;
  border-style: hidden;
  font-size: .8rem;
}

.custom-concept-list a,
.dummy-link {
  color: #4f6196;
  padding-right: .5rem;
}

.custom-concept-list a:nth-last-of-type {
  padding-right: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -moz-transition: background-color 5000s ease-in-out 0s;
  -ms-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
}

.concept-form-header {
  background: #4f6196;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}

.concept-form-header .concept-header-text,
.concept-back-button {
  line-height: 1rem;
  padding: 0;
  padding-top: .5rem;
  color: white;
}

.concept-form-header .concept-back-button {
  padding-left: .8rem;
  padding-right: .8rem;
  border-radius: .2rem;
  cursor: pointer;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}

.concept-form-header .concept-back-button:hover {
  background: rgba(255, 255, 255, 0.247);
}

.concept-form-wrapper .form-wrapper {
  padding: 0;
  margin: 0;
}

.concept-form-wrapper .form-container {
  height: auto;
}

.concept-form-wrapper .concept-form-body {
  padding: 1rem;
}

.concept-form-wrapper .form-group {
  width: auto;
}

.create-concept-header {
  margin-top: 6rem;
  text-align: left;
}

.concept-form-table .form-control:not(textarea) {
  height: 2.4rem !important;
  background: #fafafa;
}

.concept-form-table-link {
  vertical-align: middle;
}

.concept-form-body .custom-concept-list .table {
  box-shadow: none;
  border-style: hidden;
  font-size: .8rem;
}

.concept-form-body .submit-button {
  margin-bottom: 2rem;
}

.bg-blue {
  background: #4f6196;
  color: white;
  transition: ease-in-out 400ms;
  -webkit-transition: ease-in-out 400ms;
  -moz-transition: ease-in-out 400ms;
  -ms-transition: ease-in-out 400ms;
  -o-transition: ease-in-out 400ms;
}

.bg-blue:hover {
  background: #4f6dc7;
}

.add-more-names {
  color: #4f6196;
  text-decoration: none !important;
  cursor: pointer !important;
}

.concept-language {
  min-width: 10rem;
}

.custom-field {
  margin-top: 2rem;
  margin-left: 2rem;
}

.concept-form-body .form-group label,
.section-header,
.add-more-names {
  font-size: .8rem;
}

.normal-cursor {
  cursor: default !important;
}

.collection-name{
  font-family: 'Roboto',sans-serif;
}

.collection-name:link{
 text-decoration: none;
}

.collection-name:hover{
  text-decoration: underline;
}

.datatypefield {
  width: 41%;
  font-size: .8rem;
  padding-bottom: 1%;
}
.backLink{
  padding-bottom: 1rem;
}
.backLink:link{
  text-decoration: none;
}
.create-custom-concept {
  margin-top: -5%;
}

#actionButtons {
  background-color: Transparent;
  cursor:pointer;
}

.add-more-answers{
  color: #4f6196;
  text-decoration: none !important;
  cursor: pointer !important;
  font-size: .8rem;
}

.custom-table-width {
  width: 100% !important;
}

@media only screen and (max-width : 992px) {

  .bulk-concepts {
    padding-right: 2%;
    padding-left: 2%;

  }

  .search-container .concept-search-wrapper form {
    display: inline;
    padding: 0;
    margin: 0;
  }

  .custom-full-width {
    flex: 0 0 100%;
    max-width: 100% !important;
  }

  .custom-concept-list {
    margin: 0;
    padding: 0;
  }

  .custom-side-padding {
    padding-right: 0;
    padding-left: 0;
  }
}
