.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}
.forms-container {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.signup{
  padding-top: 10%; 
}
h1 {
  font-size: 50px;
}
h4 {
  font-size: 35px;
}
.paragraphs{
  padding-top: 10%; 
}
.form-wrapper {
  padding: 1rem;
  padding-bottom: .5rem;
  background: white;
  text-align: left;
  border-radius: .2rem;
  box-shadow: 0px 4px 20px #00000014;
}

.form-wrapper .form-control {
  height: 3rem;
  line-height: 3rem;
}

.form-wrapper .btn {
  box-shadow: none;
  height: auto;
}

.form-wrapper a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.form-wrapper .loader {
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  border-width: .1rem;
  vertical-align: middle;
}

.login-details{
  margin-top:10px;
  margin-left:280px;
  margin-bottom: 10px;
  width:60%;
}

.video{
  padding: 10px;
  width:100%;
  height:460px;
}

.low-title{
  text-align: center;
  padding-bottom: 5px;
}

.low-title-msg{
  text-align: center;
  font-size: 1rem;
}

.login-title{
  text-align: center;
}
