.notifications {
    .notification-container {
        float: right;
        position: fixed;
        margin: 5px;
        right: 0;
        z-index: 20;
        max-height: 60vh;
        overflow-y: auto;
    }

    .notification {
        border-radius: 4px;
        box-shadow: 0 1px 3px $shadow, 0 1px 2px $secondary;
        display: flex;
        margin-bottom: 8px;
        width: 360px;
        transform: translate3d(0px, 0px, 0px);
        flex-grow: 1;
        font-size: 14px;
        line-height: 1.4;
        min-height: 56px;
        padding: 8px 12px;
        justify-content: space-between;
        white-space: pre;
        text-align: left;
    }

    .notification-info {
      background-color: $lighter;
      color: $secondary;
    }
}
