.user-info {
  box-shadow: 0px 2px 20px 15px #b1b1b114;
  padding: 2rem;
}

.user-info .user-data {
  text-align: left;
  font-size: 1rem;
}

.user-data span {
  font-size: 0.9rem;
}

.lead {
  font-size: 0.9rem;
}

.user-dictionary-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 20px 15px #b1b1b114;
  padding: .5rem;
}

.user-data a {
  font-size: 0.9rem;
  color: rgb(17, 88, 180);
  font-weight: 400;
}

.see-more-link {
  margin-top: .35rem;
}

.org-name {
  line-height: 1rem;
  padding: 0;
  margin: .5rem;
}

.greetings h3 {
  margin-bottom: .2rem;
}

.line-divider {
  display: inline-block;
  height: .3rem;
  width: 5rem;
  background: #343a40;
  margin-left: 1.7rem;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}

.view-details-link {
  color: #343a40;
  padding: .1rem .5rem;
  border-radius: .2rem;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}

.view-details-link:hover {
  color: #000000;
  background: #8080801f;
}
