.pagination-container {
  font-size: .8rem;
  padding: 1rem 1rem 0;
}
.pagination-container .add-all-concepts-btn {
  padding: .4rem;
  border-radius: .2rem;
  transition: all 400ms ease-in-out;
}
.pagination-container .add-all-concepts-btn:hover{
  background: rgb(221, 220, 220);
}

.pagination-container .btn {
  box-shadow: none;
}

.bg-gray {
  background: #506096;
  color: white;
}

.bg-gray:hover {
  background: black;
  color: white; 
}

.bulk-concept-wrapper .search-container {
  padding-left: .8rem;
}

.bulk-concepts .sidenav-container {
  padding: .5rem 2rem;
  border-radius: .4rem;
}

.bulk-concept-label {
  cursor: pointer;
  font-size: 1rem;
  margin-top: -.23rem;
}

.bulk-concepts .sidenav-header {
  font-weight: 600;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bulk-concepts .paginate-controllers {
  margin: 0 1.2rem 0 2rem;
    
}

.bulk-concepts .paginate-controllers i {
  font-size: .8rem;
  transition: background-color 400ms ease-in-out;  
}

.pop-up-wrapper {
  padding: 1rem;
  height: auto;
}

.header-divider {
  width: 2rem;
  height: .3rem;
  border-radius: 10rem;
  background: #5c6273;
}

.pop-up-description {
  background: #e8e9eb;
  color: #2c2e35;
  padding: .7rem;
}

.backLinkText{
  border-bottom: thin solid #4f6196;
}

.linkSection{
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.link{
  padding-bottom: 1rem;
}

.synonyms {
  margin: 0;
  margin-top: 1rem;
  font-size: .8rem;
    
}
