.App{
  text-align: center;
}
.nav {
  background-color: rgba(0, 0, 0, 0.856) !important;
  position: inherit;
}
.navbar-brand {
  color: white !important;
}

.nav-item.nav-link:hover {
  background-color: rgb(70, 65, 65);
  padding-right: .5rem;
  padding-left: .5rem;
}
.nav-link {
  line-height: 2.2 !important;
  padding: 0rem 0rem;
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}
.navbar {
  padding: 0 3rem !important;
  line-height: 2 !important;
  height: 4.8%;
  font-size: 77%;
}

@media only screen and (max-width: 992px) {
  .nav-item.nav-link:hover {
    color: #ccc !important;
    background: none;
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.not-found {
  display: flex;
  height: 880px;
  background: url('./images/404.jpg') no-repeat;
  background-size: cover;
  padding: 9% 0 4% 0;
}
.not-found-container {
  bottom: 40%;
  margin: auto;
  position: relative;
}
.btn-not-found {
  background-color: #495056;
  border-color: white;
  margin-bottom: -287% !important;
}
.error-template {
  margin-top: 10px !important;
}
