@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  display: block;
  background-color: white;
  width: 350px;
  height: 400px;
  margin: 10px;
}
.inputs {
  width: 300px !important;
  margin-left: 20px;
  margin-right: 20px;
}
.footer {
  background-color: #c4c4c4;
  height: 70px;
}
.signin {
  float: right !important;
}
.signinModal {
  margin-top: 100px !important;
}
.nav {
  background-color: rgba(0, 0, 0, 0.856) !important;
}
.navbar-brand {
  color: white !important;
}

.nav-item.nav-link:hover {
  background-color: rgb(70, 65, 65);
}
.nav-link {
  line-height: 2.2 !important;
}
.navbar {
  padding: 0 1rem !important;
  line-height: 2 !important;
}

@media only screen and (max-width: 992px) {
  .nav-item.nav-link:hover {
    color: #ccc !important;
    background: none;
  }
}
.btn-login {
  background-color: whitesmoke;
  border-color: #007bff;
  border-style: solid;
}
.btn-login:hover {
  background-color: #007bff;
  color: white;
}
.modal-header {
  background-color: #3a3e4198 !important;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidenav {
  height: 100%;
  width: 6%;
  position: fixed;
  padding-top: 20px;
  background-color: #343a40;
  font-family: 'Open Sans Condensed', sans-serif;
  border-top-right-radius: 2em;
  border-right: solid;
}

.sidenav a {
  display: block;
  text-align: center;
  color: white;
  font-size: 20px;
}

p {
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  padding-top: 20px;
  margin-left: auto;
}
.button {
  width: 100px;
  height: 45px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 8px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 45px;
  margin-bottom: 6em;
  margin-top: 16em;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.bgcolor {
  background-color: #495056;
}
.not-found {
  display: flex;
  height: 880px;
  background: url('./images/404.jpg') no-repeat;
  background-size: cover;
  padding: 9% 0 4% 0;
}
.not-found-container {
  bottom: 40%;
  margin: auto;
  position: relative;
}
.btn-not-found {
  background-color: #495056;
  border-color: white;
  margin-bottom: -287% !important;
}
.error-template {
  margin-top: 10px !important;
}
