/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login {
  display: block;
  background-color: white;
  width: 350px;
  height: 400px;
  margin: 10px;
}
.inputs {
  width: 300px !important;
  margin-left: 20px;
  margin-right: 20px;
}
.label {
  margin-left: 10px;
}
.modal-title {
  text-align: center !important;
}
.checkbox {
  margin-left: 20px;
}
.footer {
  background-color: #c4c4c4;
  height: 70px;
}
.signin {
  float: right !important;
}
#signinModal {
  margin-top: 70px;
}
.nav {
  background-color: rgba(0, 0, 0, 0.856) !important;
}
.navbar-brand {
  color: white !important;
}

.nav-item.nav-link:hover {
  color: black !important;
  background-color: white;
}
.nav-link {
  line-height: 2.2 !important;
}
.navbar {
  padding: 0 1rem !important;
  line-height: 2 !important;
}

@media only screen and (max-width: 992px) {
  .nav-item.nav-link:hover {
    color: #ccc !important;
    background: none;
  }
}
