@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login {
  display: block;
  background-color: white;
  width: 350px;
  height: 400px;
  margin: 10px;
}
.inputs {
  width: 300px !important;
  margin-left: 20px;
  margin-right: 20px;
}
.label {
  margin-left: 10px;
}
.modal-title {
  text-align: center !important;
}
.checkbox {
  margin-left: 20px;
}
.footer {
  background-color: #c4c4c4;
  height: 70px;
}
.signin {
  float: right !important;
}
#signinModal {
  margin-top: 70px;
}
.nav {
  background-color: rgba(0, 0, 0, 0.856) !important;
}
.navbar-brand {
  color: white !important;
}

.nav-item.nav-link:hover {
  color: black !important;
  background-color: white;
}
.nav-link {
  line-height: 2.2 !important;
}
.navbar {
  padding: 0 1rem !important;
  line-height: 2 !important;
}

@media only screen and (max-width: 992px) {
  .nav-item.nav-link:hover {
    color: #ccc !important;
    background: none;
  }

  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p{
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  padding-top: 20px;
  margin-left: auto;
}
  
.sidenav {
  height: 100%;
  width: 8%;
  position: fixed; 
  padding-top: 20px;
  background-color: #343a40; 
  font-family: 'Open Sans Condensed', sans-serif;
  border-top-right-radius: 2em;
  border-right:solid;
}

.sidenav a {
  display: block; 
  text-align: center;
  color: white;
  font-size: 20px;
}

.navbar{
  position: fixed;
  border-bottom-right-radius: 1em;
  border-bottom:solid;
  width:100%;
}

.navbar-brand{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:2.25em;
  margin-left:9%;
}

.button {
  width: 100px;
  height: 45px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 8px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 45px;
  margin-bottom:6em;
  margin-top:16em;
  }

.button:hover {
  background-color:#000;
  color: #fff;
}

.bgcolor{
  background-color: #495056
}
