name: Build with Node

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '10'
      - run: npm install
      - name: Unit tests
        run: npm run test:ci
      - name: Start OCL instance
        run: bash ./start_local_instance.sh
      - run: npm run test:integration
      # capture the screenshots on failure
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          if-no-files-found: ignore
          name: cypress-screenshots
          path: cypress/screenshots
      - uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
